.container {  display: grid;
    grid-template-columns: 1.7fr 2.7fr;
    grid-template-rows: 0.3fr 2.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Name Name"
      "CLICK BUY";
      height: 100vh;
  }
  
  .Name { grid-area: Name; 
color: red;
text-align: center;
}
  
  .CLICK { grid-area: CLICK; 
text-align: center;
color: yellow;
}
  
  .BUY { grid-area: BUY;
text-align: center;
color: yellow;
}

body {
    background-image: url("Graphics/tomatofield.jpeg");
  }
  
  button {
    background-color: transparent;
    color: yellow;
  }