.container {  display: grid;
    grid-template-columns: 1.7fr 2.7fr;
    grid-template-rows: 0.3fr 2.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Name Name"
      "CLICK BUY";
  }
  
  .Name { grid-area: Name; }
  
  .CLICK { grid-area: CLICK; }
  
  .BUY { grid-area: BUY; }
  